<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>Reverse Inference Continuous Integration Scores</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
        <link href="reverse-inference-ci/css/bootstrap.min.css" rel="stylesheet" />
        <link href="reverse-inference-ci/css/fresh-bootstrap-table.css" rel="stylesheet" />
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
</head>
<body>

<div class="wrapper">
    <div class="fresh-table toolbar-color-orange full-screen-table">
    <!--    Available colors for the full background: full-color-blue, full-color-azure, full-color-green, full-color-red, full-color-orange                  
            Available colors only for the toolbar: toolbar-color-blue, toolbar-color-azure, toolbar-color-green, toolbar-color-red, toolbar-color-orange
    -->
        
        <div class="toolbar">
            <button id="downloadjson" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-arrow-down"></span> json</button>
            <button id="downloadtsv" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-arrow-down"></span> tsv</button>
            <button id="github" class="btn btn-default btn-sm"><span class="fa fa-github"></span> Analysis Code</button>
        </div>
        [[SUB_TABLE_SUB]]        
    </div>
</div>


</body>
    <script type="text/javascript" src="reverse-inference-ci/js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="reverse-inference-ci/js/bootstrap.js"></script>
    <script type="text/javascript" src="reverse-inference-ci/js/bootstrap-table.js"></script>
        
    <script type="text/javascript">
        var $table = $('#fresh-table'),
            $downloadtsv = $('#downloadtsv'), 
            $downloadjson = $('#downloadjson'), 
            $github = $('#github'),              
            full_screen = false,
            window_height;
            
        $().ready(function(){
            
            window_height = $(window).height();
            table_height = window_height - 20;
            
            $table.bootstrapTable({
                toolbar: ".toolbar",

                showRefresh: false,
                search: true,
                showToggle: true,
                showColumns: true,
                pagination: true,
                striped: false,
                sortable: true,
                height: table_height,
                pageSize: 25,
                pageList: [25,50,100],
                
                formatShowingRows: function(pageFrom, pageTo, totalRows){
                    //do nothing here, we don't want to show the text "showing x of y from..." 
                },
                formatRecordsPerPage: function(pageNumber){
                    return pageNumber + " rows visible";
                },
                icons: {
                    refresh: 'fa fa-refresh',
                    toggle: 'fa fa-th-list',
                    columns: 'fa fa-columns',
                    detailOpen: 'fa fa-plus-circle',
                    detailClose: 'fa fa-minus-circle'
                }
            });
                        
            $github.click(function () {
                document.location = "http://www.github.com/vsoch/semantic-image-comparison";
            });
        
            $downloadjson.click(function () {
                document.location = "reverse-inference-ci-results.json";
            });

            $downloadtsv.click(function () {
                document.location = "reverse-inference-ci-results.tsv";
            });
            
            $(window).resize(function () {
                $table.bootstrapTable('resetView');
            });    
        });
        
       
    </script>

</html>
